:root {
  --font-family: "Pretendard", sans-serif;

  --black: #000;
  --black0: #0c0c0c;
  --black1: #1a1a1a;
  --black3: #333;

  --light-brown: #3a3413;
  --brown: #403a23;
  --dark-brown: #523a22;

  --blue: #00a8da;
  --purple: #b5c8f3;

  --gray7: #757575;
  --light-gray: #ebebeb;
  --gray: #fafafa;

  --white: #ffffff;
  --border: #dbdbdb;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

  --bg1: #fbfbfb;
  --bg2: #676767;
  --bg3: #d9d9d9;
  --bg4: #f4f0e4;
  --bg5: #f8f8f8;
  --bg6: #4e4e4e;
  --bg7: #f3f3f3;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 140%; /* 28px */
  color: var(--black);
  font-family: var(--font-family);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background: var(--white);
}

main {
  flex-grow: 1;
}

h2,
section {
  margin: 0 auto;
  width: 1280px;
}

h2.title {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}

h2.title .breadcrumb {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.48px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type="button"] {
  background: none;
  border: none;
}

button {
  cursor: pointer;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pc-only {
  display: block;
}

.mo-only {
  display: none;
}

@media (max-width: 1280px) {
  section {
    width: 100%;
    padding: 0 20px;
  }

  h2.title {
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  h2.title .breadcrumb {
    font-size: 12px;
    letter-spacing: -0.36px;
  }

  .pc-only {
    display: none;
  }

  .mo-only {
    display: block;
  }
}
