/* Swiper Styles */
.print-swiper {
  margin-top: 40px;
  overflow: visible !important;
}

.print-swiper .swiper-slide {
  position: relative;
  width: 450px !important;
  height: 646px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}

.print-swiper .swiper-slide:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* 배경색과 투명도 설정 */
  background-image: url(../img/index/more-detail.png); /* 이미지 경로 */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 97px;
}

.print-swiper .swiper-slide img {
  width: 355px;
  height: 400px;
}

/* Navigation buttons */
.print-swiper .swiper-button-next,
.print-swiper .swiper-button-prev {
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: -25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.print-swiper .swiper-button-prev {
  margin-left: -60px;
}

.print-swiper .swiper-button-next {
  margin-right: -60px;
}

.print-swiper .swiper-button-next:after,
.print-swiper .swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}

/* swiper 내부 contents */
.print-cate-text {
  margin-bottom: 60px;
}

.print-cate-text-title {
  margin-top: 20px;
  color: var(--black);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.66px;
}

.print-cate-text-size {
  margin-top: 20px;
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
}

@media (max-width: 1280px) {
  .print-swiper {
    margin: 20px -20px 0;
    padding-right: 40px;
    width: 100vw;
    overflow: hidden !important;
  }

  .print-swiper .swiper-wrapper {
    padding-left: 20px;
  }

  .print-swiper .swiper-slide {
    width: 200px !important;
    height: 300px !important;
  }

  .print-swiper .swiper-slide:hover::after {
    display: none;
  }

  .print-swiper .swiper-slide img {
    width: 158px;
    height: 177px;
  }

  .print-swiper .swiper-button-next,
  .print-swiper .swiper-button-prev {
    display: none;
  }

  /* swiper 내부 contents */
  .print-cate-text {
    margin-bottom: 20px;
  }

  .print-cate-text-title {
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .print-cate-text-size {
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: -0.36px;
  }
}
