/* 바로 비교하기 페이지 스타일 */
main {
  padding: 73px 0 150px;
  overflow: hidden;
}

/* 소개 섹션 */
.intro-section {
  margin-bottom: 150px;
}

.intro-content-box {
  padding: 60px 60px 55px;
  background: var(--bg5);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.intro-content-box:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 164px;
  background: url(../../img/common/bg-symbol.png) center/224px 164px no-repeat;
}

.intro-content {
  position: relative;
  z-index: 2;
  margin-bottom: 66px;
}

.intro-content h3.title {
  margin-bottom: 55px;
  color: var(--black);
  font-size: 30px;
  font-weight: 500;
  line-height: 170%; /* 51px */
  letter-spacing: -0.9px;
}

.intro-content p {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: -0.72px;
}

/* 사용자 후기 */
.testimonials-list {
  padding: 0 0 0 143px;
}

.testimonial-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.testimonial-item + .testimonial-item {
  margin-top: 36px;
}

.testimonial-item:nth-child(2) {
  padding-left: 223px;
}

.testimonial-avatar {
  position: relative;
  flex-shrink: 0;
  padding-bottom: 25px;
}

.testimonial-avatar img {
  display: block;
  width: 149px;
  height: 208px;
}

.testimonial-avatar-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.testimonial-avatar-info span {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.54px;
  white-space: nowrap;
}

.testimonial-bubble {
  position: relative;
  margin-top: 10px;
  padding: 30px;
  border-radius: 20px;
  background: var(--bg6);
}

.testimonial-bubble:before {
  content: "";
  position: absolute;
  bottom: -17px;
  width: 44px;
  height: 23px;
}

.testimonial-bubble p {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.54px;
}

.testimonial-item:nth-child(odd) .testimonial-bubble:before {
  left: 34px;
  background: url(../../img/compare-now/bubble-left-arrow.png) center/44px 23px
    no-repeat;
}

.testimonial-item:nth-child(even) .testimonial-bubble:before {
  right: 34px;
  background: url(../../img/compare-now/bubble-right-arrow.png) center/44px 23px
    no-repeat;
}

.testimonial-item:nth-child(1) .testimonial-bubble {
  width: 647px;
}

.testimonial-item:nth-child(2) .testimonial-bubble {
  width: 568px;
}

/* 비교표 섹션 */
.comparison-description {
  position: relative;
  margin-bottom: 40px;
  padding-left: 15px;
}

.comparison-description:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 50%;
}

.comparison-description p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
}

.comparison-table-wrapper {
  overflow-x: auto;
  border-radius: 20px;
  border: 1px solid var(--border);
}

.comparison-table {
  border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
  padding: 10px 0;
  min-height: 86px;
  color: var(--black);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; /* 141.667% */
  border-bottom: 1px solid var(--border);
}

.comparison-table .item-column {
  width: 207px;
  background: var(--bg7);
  border-right: 1px solid var(--border);
}

.comparison-table .cs-column {
  width: 536px;
  border-right: 1px solid var(--border);
}

.comparison-table .subira-column {
  width: 536px;
}

.comparison-table thead th:nth-child(2) {
  height: 119px;
  font-weight: 600;
  background: var(--bg7);
}

.comparison-table thead th:last-child {
  height: 119px;
  font-weight: 600;
  background: var(--purple);
  color: #2f54a7;
}

.comparison-table thead th:last-child b {
  font-size: 26px;
  font-weight: 700;
  color: #2f54a7;
}

.comparison-table tbody tr:last-child td {
  border-bottom: none;
}

/* 반응형 디자인 */
@media (max-width: 1280px) {
  main {
    padding: 40px 0 70px;
  }

  /* 소개 섹션 */
  .intro-section {
    margin-bottom: 40px;
  }

  .intro-content-box {
    padding: 20px 20px 35px;
  }

  .intro-content-box:before {
    width: 88px;
    height: 93px;
    background: url(../../img/common/bg-symbol-mo.png) center/88px 93px
      no-repeat;
  }

  .intro-content {
    margin-bottom: 40px;
  }

  .intro-content h3.title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.54px;
  }

  .intro-content p {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  /* 사용자 후기 */
  .testimonials-list {
    padding: 0;
  }

  .testimonial-item {
    align-items: flex-end;
    gap: 6px;
  }

  .testimonial-item + .testimonial-item {
    margin-top: 40px;
  }

  .testimonial-item:nth-child(2) {
    padding-left: 0px;
  }

  .testimonial-avatar img {
    width: 64px;
    height: 89px;
  }

  .testimonial-avatar-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 15px);
  }

  .testimonial-avatar-info span {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 170%; /* 20.4px */
    letter-spacing: -0.36px;
  }

  .testimonial-bubble {
    margin-top: 0;
    margin-bottom: 70px;
    padding: 10px 15px;
  }

  .testimonial-bubble p {
    font-size: 14px;
    line-height: 170%;
    letter-spacing: -0.42px;
  }

  /* 비교표 섹션 */
  .comparison-section .title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .comparison-description {
    margin-bottom: 20px;
  }

  .comparison-description p {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .comparison-table th,
  .comparison-table td {
    padding: 15px 10px;
  }

  .comparison-table th {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .comparison-table td {
    font-size: 12px;
    letter-spacing: -0.36px;
  }

  .comparison-table .item-column {
    width: 20%;
  }

  .comparison-table .cs-column {
    width: 40%;
  }

  .comparison-table .subira-column {
    width: 40%;
  }
}
