/* 문의하기 페이지 스타일 */
main {
  padding: 73px 0 150px;
  overflow: hidden;
}

/* 안내 섹션 */
.intro-section {
  margin-top: 140px;
  margin-bottom: 40px;
}

/* 안내 문구  */
.intro-section .intro-text {
  color: var(--black);
  font-size: 30px;
  font-weight: 400;
  line-height: 170%; /* 51px */
  letter-spacing: -0.9px;
}

/* 폼 섹션 */
.form-row {
  display: grid;
  grid-template-columns: 183px 1fr;
  align-items: center;
}

.form-row.bordered-top {
  border-top: 1px solid var(--black);
}

.form-row.bordered-bottom {
  border-bottom: 1px solid var(--light-gray);
}

.form-label {
  padding: 0px 24px;
  min-height: 96px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  color: var(--black2);
  background: var(--bg8);
}

.form-label.required:after {
  margin-left: 4px;
  content: " *";
  color: var(--red);
}

.form-content {
  padding: 0 24px;
  width: 100%;
  height: inherit;
}

select {
  appearance: none; /* 표준 속성 */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  background: none; /* 필요 시 배경 제거 */
  border: 1px solid var(--border); /* 기본 테두리 설정 */
}

/* 라디오 */
.radio-group {
  display: flex;
  gap: 28px;
}

.radio {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.radio-group label:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../img/contact-us/icon-unchecked-radio.png) no-repeat
    center center / contain;
}

.radio-group input[type="radio"]:checked + label:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../img/contact-us/icon-checked-radio.png) no-repeat center
    center / contain;
}

.radio-item {
  height: 48px;
  display: flex;
  align-items: center;
}

.radio-item label {
  cursor: pointer;
}

.radio-item label span {
  color: var(--black2);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.form-row input[type="text"] {
  padding: 0 16px;
  display: block;
  width: 335px;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  color: var(--black2);
  border-radius: 4px;
  border: 1px solid var(--border);
}

form-row input[type="text"]::placeholder {
  color: var(--gray3);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

/* 연락처 */
.phone-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.phone-group .select {
  padding: 13px 16px;
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: url(../../img/contact-us/icon-down-arrow.png) center right 16px/ 20px
    20px no-repeat;
}

.phone-group input[type="text"] {
  width: 117px;
}

/* 이메일 */
.email-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.email-group input[type="text"]:first-child {
  width: 200px;
}

.email-group .at {
  text-align: center;
}

.email-group .at + input[type="text"] {
  width: 260px;
}

.email-group .select {
  padding: 13px 16px;
  width: 200px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: url(../../img/contact-us/icon-down-arrow.png) center right 16px/ 20px
    20px no-repeat;
}

.form-content textarea {
  margin: 24px 0;
  padding: 13px 16px;
  width: 100%;
  height: 395px;
  color: var(--black0);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  border-radius: 4px;
  border: 1px solid var(--border);
  outline: none;
  resize: vertical;
}

.form-content textarea::placeholder {
  color: var(--gray3);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

/* 개인정보 동의 */
.privacy-box {
  padding: 24px 0;
}

.privacy-box ul {
  margin-bottom: 24px;
}

.privacy-box li {
  color: var(--black0);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.privacy-box p {
  color: var(--black0);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.notice {
  margin-top: 20px;
  color: var(--gray7);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

/* 버튼 */
.form-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 150px;
  height: 60px;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
  letter-spacing: -0.66px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.btn--primary {
  color: var(--black);
  border: 1px solid var(--border);
}

.btn--secondary {
  color: var(--white);
  background: var(--black3);
}

/* 반응형 */
@media (max-width: 1280px) {
  main {
    padding: 40px 0 70px;
  }

  /* 안내 섹션 */
  .intro-section {
    margin-top: 40px;
  }

  .intro-section .intro-text {
    font-size: 18px;
    letter-spacing: -0.54px;
  }

  /* 폼 섹션 */
  .form-row + .form-row {
    margin-top: 20px;
  }

  .form-row.bordered-top {
    border-top: none;
  }

  .form-row.bordered-bottom {
    border-bottom: none;
  }

  .form-row {
    display: block;
  }

  .form-label {
    padding: 0;
    min-height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    background: transparent;
  }

  .form-content {
    margin-top: 10px;
    padding: 0;
  }

  /* 연락처 */
  .phone-group {
    gap: 4px;
  }

  .phone-group .select {
    flex-grow: 1;
    width: auto;
  }

  .phone-group input[type="text"] {
    width: 103px;
  }

  /* 이메일 */
  .email-group {
    padding: 13px 16px;
    gap: 4px;
    border: 1px solid var(--border);
    border-radius: 4px;
  }

  .email-group input[type="text"] {
    padding: 0;
    border: none;
    height: 22px;
  }

  .email-group input[type="text"]:first-child {
    flex-grow: 1;
    width: auto !important;
  }

  .email-group .at {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  .email-group .at + input[type="text"] {
    width: 50px !important;
  }

  .email-group .select {
    flex-shrink: 0;
    padding: 0;
    width: 85px !important;
    height: 22px;
    border: none;
    background: url(../../img/contact-us/icon-down-arrow.png) center right 0px/ 20px
      20px no-repeat;
  }

  .content + .form-content {
    height: 160px;
  }

  .form-content textarea {
    margin: 0;
    height: 160px;
  }

  /* 개인정보 동의 */
  .form-row.privacy {
    margin-top: 32px;
  }

  .form-row.privacy .form-label {
    font-size: 14px;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
  }

  .form-row.privacy .form-content {
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 4px;
  }

  .privacy-box {
    padding: 0;
  }

  .privacy-box ul {
    margin-bottom: 16px;
  }

  /* 버튼 */
  .form-actions {
    margin-top: 40px;
  }

  .btn--primary {
    display: none;
  }

  .btn--secondary {
    width: 100%;
    font-size: 20px;
    height: 56px;
    border-radius: 10px;
  }
}
