main {
  padding: 73px 0 150px;
  overflow: hidden;
}

.output-section {
  margin-top: 140px;
}

/* 탭 메뉴 */
.output-tab-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.output-tab-item {
  cursor: pointer;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--black);
  background: var(--bg5);
  border-radius: 20px 20px 0 0;
}

.output-tab-item span {
  color: var(--gray7);
  font-size: 24px;
  font-weight: 500;
  line-height: 170%; /* 40.8px */
  letter-spacing: -0.72px;
}

.output-tab-item.active {
  border-top: 1px solid var(--black);
  border-right: 1px solid var(--black);
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--bg5);
  background: var(--white);
}

.output-tab-item.active span {
  color: var(--black);
}

.output-content {
  display: none;
}

.output-content.active {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.output-content > div {
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.output-content .label {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.output-content .label p:first-child {
  color: var(--black);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  letter-spacing: -0.66px;
}

.output-content .label p:last-child {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.6px;
}

/* 연등꼬리표 content */
.output-content {
  cursor: pointer;
}

.output-content.item1 > div:nth-child(1) img,
.output-content.item1 > div:nth-child(2) img {
  width: 420px;
  height: 470px;
}

.output-content.item1 > div:nth-child(3) img {
  width: 420px;
  height: 465px;
}

div:nth-child(4) img {
  width: 400px;
  height: 499px;
}

/* 위패 */
.output-content.item2 div img {
  width: 321px;
  height: 453px;
}

/* 출력물 */
.output-content.item3 div {
  background: var(--bg5);
}

.output-content.item3 div img {
  width: 374px;
  height: 528px;
}

.output-content.item3 div:nth-child(6) img {
  width: 528px;
  height: 374px;
}

.output-content .modal {
  display: none;
}

.output-content .modal.active {
  position: fixed;
  display: block;
}

@media (max-width: 1280px) {
  main {
    padding: 40px 0 90px;
  }

  .output-section {
    margin-top: 30px;
  }

  /* 탭 메뉴 */
  .output-tab-item {
    height: 54px;
  }

  .output-tab-item span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.48px;
  }

  .output-content.active {
    margin-top: 20px;
    display: block;
  }

  .output-content > div {
    height: 402px;
  }

  .output-content > div + div {
    margin-top: 20px;
  }

  .output-content .label p:first-child {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .output-content .label p:last-child {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  /* 연등꼬리표 content */
  .output-content.item1 > div:nth-child(1) img,
  .output-content.item1 > div:nth-child(2) img,
  .output-content.item1 > div:nth-child(3) img {
    width: 225px;
    height: 235px;
  }

  .output-content.item1 > div:nth-child(4) img {
    width: 213px;
    height: 265px;
  }

  /* 위패 */
  .output-content.item2 div img {
    width: 190px;
    height: auto;
  }

  /* 출력물 */
  .output-content.item3 div img {
    width: 220px;
    height: auto;
  }

  .output-content.item3 div:nth-child(6) img {
    width: 300px;
    height: auto;
  }
}
