main {
  padding: 73px 0 150px;
  overflow: hidden;
}

.portfolio-section {
  margin-top: 150px;
}

.portfolio-section h3.title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 22px;
}

.portfolio-list .portfolio-item {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  background: var(--bg5);
}

.portfolio-list .portfolio-item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-list .portfolio-item p {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-size: 22px;
  font-weight: 600;
  line-height: 140%; /* 30.8px */
  letter-spacing: -0.66px;
}

@media (max-width: 1280px) {
  main {
    padding: 40px 0 70px;
  }

  .portfolio-section {
    margin-top: 20px;
  }

  .portfolio-section h3.title {
    display: none;
  }

  .portfolio-list {
    display: block;
  }

  .portfolio-list .portfolio-item + .portfolio-item {
    margin-top: 20px;
  }

  .portfolio-list .portfolio-item p {
    height: 39px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.48px;
  }
}
