/* 주요 기능 페이지 스타일 */
main {
  padding: 73px 0 150px;
  overflow: hidden;
}

/* 주요 기능 섹션 */
.features-section {
  margin-bottom: 150px;
  overflow: hidden;
}

.features-grid {
  position: relative;
  padding: 80px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 30px;
  background: var(--bg5);
  border-radius: 20px;
}

.features-grid:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 164px;
  background: url(../../img/common/bg-symbol.png) center/224px 164px no-repeat;
}

.features-grid:after {
  z-index: 3;
  content: "";
  position: absolute;
  right: 34px;
  bottom: 24px;
  width: 195px;
  height: 157px;
  background: url(../../img/main-features/icon-flower.png) center/195px 157px
    no-repeat;
}

.feature-card {
  z-index: 2;
  position: relative;
  padding: 30px;
  background: var(--white);
  border-radius: 20px;
}

.feature-card:nth-child(2) {
  grid-column: 2 / 4;
}

.feature-card:nth-child(7) {
  grid-column: 2 / 4;
}

.feature-card h4 {
  margin-bottom: 14px;
  color: var(--black);
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.66px;
}

.feature-card ul {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 30px;
}

.feature-card:nth-child(4) ul {
  grid-template-columns: 1fr;
  column-gap: 0;
}

.feature-card:nth-child(5) ul {
  grid-template-columns: 1fr;
  column-gap: 0;
}

.feature-card li {
  color: var(--black);
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: auto;
}

.feature-card li:before {
  position: relative;
  top: 8px;
  content: "";
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 50%;
}

.feature-card li:nth-child(odd) {
  min-width: 115px;
}

/* 혜택 섹션 */
.benefits-section h3.title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.benefit-item + .benefit-item {
  margin-top: 60px;
}

.benefit-grid {
  display: grid;
  grid-template-columns: 265px auto;
  gap: 30px;
}

.benefit-item h4 {
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.benefit-grid-item {
  list-style: disc;
}

.benefit-grid-item li {
  display: flex;
  color: var(--black);
  font-size: 20px;
  line-height: 160%; /* 32px */
}

.benefit-grid-item li:before {
  margin: 14px 10px 0 0;
  content: "";
  width: 4px;
  height: 4px;
  background: var(--black);
  border-radius: 50%;
}

/* 반응형 디자인 */
@media (max-width: 1280px) {
  main {
    padding: 40px 0 70px;
  }

  .features-section {
    margin-bottom: 40px;
  }

  .features-grid {
    padding: 20px 24px 20px 20px;
    display: block;
  }

  .features-grid:before {
    width: 88px;
    height: 93px;
    background: url(../../img/common/bg-symbol-mo.png) center/88px 93px
      no-repeat;
  }

  .features-grid:after {
    right: 12px;
    bottom: 13px;
    width: 65px;
    height: 52px;
    background: url(../../img/main-features/icon-flower.png) center/65px 52px
      no-repeat;
  }

  .feature-card {
    padding: 20px;
  }

  .feature-card + .feature-card {
    margin-top: 10px;
  }

  .feature-card h4 {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .feature-card ul {
    grid-auto-columns: minmax(90px, auto);
    column-gap: 20px;
  }

  .feature-card:nth-child(4) ul {
    display: block;
  }

  .feature-card:nth-child(5) ul {
    display: block;
  }

  .feature-card li {
    font-size: 14px;
  }

  .feature-card li:nth-child(odd) {
    min-width: 90px;
  }

  .feature-card li:nth-child(even) {
    text-align: left;
  }

  /* 혜택 섹션 */
  .benefits-section h3.title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .benefit-item + .benefit-item {
    margin-top: 20px;
  }

  .benefit-grid {
    display: block;
    gap: 0;
  }

  .benefit-item h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .benefit-grid-item li {
    font-size: 14px;
  }

  .benefit-grid-item li:before {
    width: 3px;
    height: 3px;
    margin: 12px 8px 0 8px;
  }
}
