/* 보안 & 안정성 페이지 스타일 */
main {
  padding: 73px 0 150px;
  overflow: hidden;
}

/* 소개 섹션 */
.intro-section {
  margin-bottom: 150px;
}

.intro-content-box {
  padding: 60px 60px 55px;
  background: var(--bg5);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.intro-content-box:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 164px;
  background: url(../../img/common/bg-symbol.png) center/224px 164px no-repeat;
}

.intro-content {
  position: relative;
  z-index: 2;
  margin-bottom: 66px;
}

.intro-content h3.title {
  color: var(--black);
  font-size: 30px;
  font-weight: 500;
  line-height: 170%; /* 51px */
  letter-spacing: -0.9px;
}

.intro-content p {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: -0.72px;
}

.intro-content p b {
  font-weight: 700;
}

.intro-content p + p {
  margin-top: 60px;
}

/* 사용자 후기 */
.testimonials-list {
  padding: 0 0 0 143px;
}

.testimonial-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.testimonial-item + .testimonial-item {
  margin-top: 36px;
}

.testimonial-item:nth-child(2) {
  padding-left: 10px;
}

.testimonial-avatar {
  position: relative;
  flex-shrink: 0;
  padding-bottom: 25px;
}

.testimonial-avatar img {
  display: block;
  width: 149px;
  height: 208px;
}

.testimonial-avatar-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.testimonial-avatar-info span {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.54px;
  white-space: nowrap;
}

.testimonial-bubble {
  position: relative;
  margin-top: 10px;
  padding: 30px;
  border-radius: 20px;
  background: var(--bg6);
}

.testimonial-bubble:before {
  content: "";
  position: absolute;
  bottom: -17px;
  width: 44px;
  height: 23px;
}

.testimonial-bubble p {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.54px;
}

.testimonial-item:nth-child(odd) .testimonial-bubble:before {
  left: 34px;
  background: url(../../img/compare-now/bubble-left-arrow.png) center/44px 23px
    no-repeat;
}

.testimonial-item:nth-child(even) .testimonial-bubble:before {
  right: 34px;
  background: url(../../img/compare-now/bubble-right-arrow.png) center/44px 23px
    no-repeat;
}

.testimonial-item:nth-child(1) .testimonial-bubble {
  width: 717px;
}

.testimonial-item:nth-child(2) .testimonial-bubble {
  width: 768px;
}

.testimonial-item:nth-child(3) .testimonial-bubble {
  width: 647px;
}

/* 수비라 주요 보안 기능 */
.security-section .title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.security-list {
  margin-bottom: 40px;
}

.security-list li + li {
  margin-top: 40px;
}

.security-list dt {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 160%; /* 32px */
}

.security-list dd {
  color: var(--black);
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.security-description {
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.security-description b {
  font-weight: 600;
}

/* 반응형 디자인 */
@media (max-width: 1280px) {
  main {
    padding: 40px 0 70px;
  }

  /* 소개 섹션 */
  .intro-section {
    margin-bottom: 40px;
  }

  .intro-content-box {
    padding: 20px 20px 35px;
  }

  .intro-content-box:before {
    width: 88px;
    height: 93px;
    background: url(../../img/common/bg-symbol-mo.png) center/88px 93px
      no-repeat;
  }

  .intro-content {
    margin-bottom: 40px;
  }

  .intro-content h3.title {
    font-size: 18px;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.54px;
  }

  .intro-content p {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .intro-content p + p {
    margin-top: 40px;
  }

  /* 사용자 후기 */
  .testimonials-list {
    padding: 0;
  }

  .testimonial-item {
    gap: 20px;
  }

  .testimonial-item + .testimonial-item {
    margin-top: 40px;
  }

  .testimonial-item:nth-child(2) {
    padding-left: 0px;
  }

  .testimonial-avatar img {
    width: 64px;
    height: 89px;
  }

  .testimonial-avatar-info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 15px);
  }

  .testimonial-avatar-info span {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 170%; /* 20.4px */
    letter-spacing: -0.36px;
  }

  .testimonial-bubble {
    margin-top: 0;
    padding: 10px 15px;
  }

  .testimonial-bubble p {
    font-size: 14px;
    letter-spacing: -0.42px;
  }

  .testimonial-item:nth-child(odd) .testimonial-bubble:before {
    bottom: initial;
    top: 26px;
    left: -13px;
    width: 41px;
    height: 23px;
    background: url(../../img/compare-now/bubble-left-arrow.png) center/contain
      no-repeat;
  }

  .testimonial-item:nth-child(even) .testimonial-bubble:before {
    bottom: initial;
    top: 26px;
    right: -13px;
    width: 41px;
    height: 23px;
    background: url(../../img/compare-now/bubble-right-arrow.png) center/contain
      no-repeat;
  }

  .security-section .title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .security-list {
    margin-bottom: 20px;
  }

  .security-list li + li {
    margin-top: 20px;
  }

  .security-list dt {
    font-size: 18px;
  }

  .security-list dd {
    margin-top: 10px;
    font-size: 14px;
  }

  .security-description {
    font-size: 14px;
  }
}
