/* 도입 효과 페이지 스타일 */
main {
  padding: 73px 0 150px;
  overflow: hidden;
}

/* 소개 섹션 */
.intro-section {
  margin-bottom: 150px;
}

.intro-content-box {
  padding: 56px 60px;
  background: var(--bg5);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.intro-content-box:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 164px;
  background: url(../../img/common/bg-symbol.png) center/224px 164px no-repeat;
}

.intro-content {
  position: relative;
  z-index: 2;
}

.intro-content h3 {
  margin-bottom: 30px;
  color: var(--black);
  font-size: 30px;
  font-weight: 500;
  line-height: 170%; /* 51px */
  letter-spacing: -0.9px;
}

.intro-content p {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: -0.72px;
}

/* 목표 섹션 */
.goals-section {
  margin-bottom: 150px;
}

.goals-section .title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.goal-item {
  position: relative;
  display: flex;
  gap: 32px;
}

.goal-item:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 63px;
  background: url(../../img/Introduction-effect/goal-arrow.png) center/88px 63px
    no-repeat;
}

.goal-content {
  padding: 40px;
  width: 624px;
  height: 335px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  border: 1px solid #eee;
}

.goal-content h4 {
  color: var(--light-brown);
  font-size: 40px;
  font-weight: 600;
  line-height: 35px; /* 87.5% */
}

.goal-content li {
  display: flex;
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.goal-content li:before {
  flex-shrink: 0;
  margin: 12px 20px 0 0;
  content: "";
  width: 6px;
  height: 6px;
  background: var(--black);
  border-radius: 50%;
}

.goal-content li + li {
  margin-top: 10px;
}

.goal-summary {
  padding: 40px;
  width: 624px;
  height: 335px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  border: 1px solid #eee;
  background: var(--bg4);
}

.goal-summary span {
  color: var(--black);
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.goal-summary span:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.goal-summary span b {
  color: var(--light-brown);
  font-size: 40px;
  font-weight: 600;
  line-height: 35px; /* 87.5% */
}

/* 기회 섹션 */
.opportunity-section .title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.opportunity-content p {
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.opportunity-section p b {
  font-weight: 600;
}

/* 반응형 디자인 */
@media (max-width: 1280px) {
  main {
    padding: 40px 0 70px;
  }

  /* 소개 섹션 */
  .intro-section {
    margin-bottom: 40px;
  }

  .intro-content-box {
    padding: 20px;
  }

  .intro-content-box:before {
    width: 88px;
    height: 93px;
    background: url(../../img/common/bg-symbol-mo.png) center/88px 93px
      no-repeat;
  }

  .intro-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.54px;
  }

  .intro-content p {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  /* 목표 섹션 */
  .goals-section {
    margin-bottom: 70px;
  }

  .goals-section .title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .goal-item {
    flex-direction: column;
    gap: 10px;
  }

  .goal-item:before {
    display: none;
  }

  .goal-content {
    padding: 20px;
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 10px;
    border-radius: 20px;
  }

  .goal-content h4 {
    font-size: 24px;
    line-height: 140%; /* 33.6px */
  }

  .goal-content li {
    font-size: 14px;
    line-height: 160%; /* 22.4px */
  }

  .goal-content li:before {
    margin: 10px 10px 0;
    width: 4px;
    height: 4px;
  }

  .goal-content li + li {
    margin-top: 0px;
  }

  .goal-summary {
    position: relative;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
  }

  .goal-summary:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%) rotate(90deg);
    width: 34px;
    height: 24px;
    background: url(../../img/Introduction-effect/goal-arrow.png) center/34px
      24px no-repeat;
  }

  .goal-summary span {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }

  .goal-summary span:last-child {
    padding-left: 10px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    justify-content: flex-start;
    text-align: left;
  }

  .goal-summary span:last-child:before {
    position: absolute;
    top: 12px;
    left: 0;
    content: "";
    width: 4px;
    height: 4px;
    background: var(--black);
    border-radius: 50%;
  }

  .goal-summary span b {
    font-size: 24px;
    line-height: 140%; /* 33.6px */
  }

  /* 기회 섹션 */
  .opportunity-section .title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .opportunity-content p {
    font-size: 14px;
  }

  .opportunity-section p b {
    font-size: 14px;
    font-weight: 400;
  }

  .opportunity-content p + p {
    margin-top: 30px;
  }
}
